.banner-doces {
  height: 454px;
  background-image: url("../img/banner-doces.png");
  background-color: var(--cor-roxo-escuro);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.banner-Doces__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.banner-Doces__titulo {
  max-width: 784px;
  color: #C086C1;
  font-size: 22px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -1.16px;
  text-transform: uppercase;
}

.banner-Doces__Subtitulo {
  max-width: 784px;
  color: var(--cor-branco);
  font-size: 58px;
  font-weight: 900;
  line-height: 90%;
  letter-spacing: -1.16px;
  text-transform: uppercase;
}



.categorias_paginacao-doces ul{
  display: flex;
  gap: 1rem;
}


.categorias_paginacao-doces  li{
  background: #f4eced;
  color: #470848;
  width: fit-content;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.categorias_paginacao-doces ul li:nth-child(2){
  background: #470848;
  color: #ffffff;
} 