.banner-todasReceitas {
  height: 454px;
  background-image: url("../img/todas.png");
  background-color: var(--cor-roxo-escuro);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.banner-todasReceitas__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.banner-todasReceitas__titulo {
  max-width: 784px;
  color: var(--cor-branco);
  font-size: 58px;
  font-weight: 900;
  line-height: 90%;
  letter-spacing: -1.16px;
  text-transform: uppercase;
}

.TodasReceitas__info ul{
  display: flex;
  gap: 1rem;
}

.TodasReceitas__info ul li{
  background: #f4eced;
  color: #470848;
  width: fit-content;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.TodasReceitas__info ul li:nth-child(1){
  background: #470848;
  color: #ffffff;
}